a#show-sidebar {
    z-index: 20;
}

/* pagination statt */

li.page-item.pagination-page-nav {
    margin: 1px;
}

li.page-item.pagination-page-nav.active { 
    background: #4285f4 !important;
}



a.page-link {color: black !important;}
/* pagination end */

/* fade  */
.animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}